a {
    border-radius: 5px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.simple1 {
    background: linear-gradient(black, white);
}

.simple2 {
    background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0.5) 50%, white 100%);
}
